
PointOfSale/.vs/PointOfSale/v16/.suo

PointOfSale/PointOfSale.sln.DotSettings.user

PointOfSale/PointOfSale/bin/Debug/netcoreapp3.1/cs/

PointOfSale/PointOfSale/bin/Debug/netcoreapp3.1/de/

PointOfSale/PointOfSale/bin/Debug/netcoreapp3.1/es/

PointOfSale/PointOfSale/bin/Debug/netcoreapp3.1/fr/

PointOfSale/PointOfSale/bin/Debug/netcoreapp3.1/it/

PointOfSale/PointOfSale/bin/Debug/netcoreapp3.1/ja/

PointOfSale/PointOfSale/bin/Debug/netcoreapp3.1/ko/

PointOfSale/PointOfSale/bin/Debug/netcoreapp3.1/

PointOfSale/PointOfSale/obj/Debug/netcoreapp3.1/

PointOfSale/PointOfSale/obj/
